body {
  font-family: Arial;
  background: #f4f4f4;
}

.board {
  display: flex;
  gap: 20px;
}

.column {
  background: white;
  padding: 10px;
  width: 250px;
  border-radius: 8px;
}

.card {
  background: lightblue;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: grab;
}

button {
  width: 100%;
}